@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  background-color: #000;
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, #38bdf8, #9333ea);
  border-radius: 10px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
